body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.logs-header {
	padding-right: 70px;
	padding-left: 70px;
}

.info-table {
	width: 100%;
}

.ramChart {
	width: 60%;
}

.tempChart {
	width: 15%;
}

.diskChart {
	width: 25%;
}

.header-button {
	margin-right: 10px;
}

#netText {
	margin-right: 30px;
}

.inline {
	display: inline;
}